RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=marketlane
RABBITMQ_PASSWORD=marketlane
RABBITMQ_QUEUE=marketlane.events
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=marketlane_warehouse
POSTGRES_USER=marketlane
POSTGRES_PASSWORD=marketlane
